.form{
    display: flex;
    width: 100%;
    flex: 30%;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    display: flex;
    flex-direction: column;
   
}
.inputContainer input{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 150px;
    height: 18px;
    padding-left: 10px;
    border: 1px solid gray;
}

.button{
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 200px;
    color: black;
    padding-left: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content:space-evenly;
    cursor: pointer;
}